<% provide :title, t("static_pages.home.title") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
       <section class="stats">
        <%= render "shared/stats" %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= t ".content.feed" %></h3>
      <%= form_with url: :search_elastic_microposts, method: :get, local: true do %>
        <%= label_tag :query_elastic, t("static_pages.home.elastic.key_word") %>
        <%= text_field_tag :query_elastic, params[:query_elastic] %>
        <%= submit_tag t("static_pages.home.elastic.submit") %>
      <% end %>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <h1><%= t ".title" %></h1>
  <p>
    <%= t(".content.main", rails_url: link_to(t(".content.rails"), Settings.links.rails.url)).html_safe %>
  </p>
<% end %>
